config DEV_POWERMETER
    bool "Horizon 功率计"
    default n
    select COM_CAN
    help
        Horizon 功率计

config DEV_MOTOR_DJI
    bool "大疆电机"
    default n
    select COM_CAN
    help
        大疆电机

config DEV_MOTOR_DM
    bool "达妙电机"
    default n
    select COM_CAN
    help
        达妙电机

config DEV_REMOTE_DR16
    bool "dr16遥控器"
    default n
    select COM_UART
    select TPC_REMOTE_TO
    help
        dr16遥控器

