CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
# execute in place support
CONFIG_XIP=y

# pinctrl driver option
CONFIG_PINCTRL=y

# GPIO driver option
CONFIG_GPIO=y

# Serial driver option
CONFIG_SERIAL=y

# Nocache options, place in RAM region
CONFIG_NOCACHE_MEMORY=y

CONFIG_FLASH=y