config TFLM
    bool "TensorFlow Lite Micro"
    default n
    select CPP
    select REQUIRES_FULL_LIBCPP

if TFLM

config TFLM_ARENA_SIZE
    int "Tensor arena size (bytes)"
    default 3000
    range 2048 1048576

endif
